/* .main{
    text-align: center;
    font-size:50px;
    margin-top:270px;
} */

/* .box{
    text-align: center;
    color: green;
    background-color: cyan;
    padding: 15px;
} */

a {
    color: purple;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }
  
  a:hover {
    color: black;
    text-decoration: underline;
  }
  